<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>

<body>
    <header>
        Zach's Pet Adoption Agency
        <a href="/"><img src="/pictures/peticon.png" alt="pet_icon"></a>
        <a id="clock" style="position: fixed; right: 10px; font-size: 20px;"></a>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/find">Find a dog/cat</a>
        <a href="/dog">Dog Care</a>
        <a href="/cat">Cat Care</a>
        <a href="/giveaway">Have a pet to give away</a>
        <a href="/contact">Contact Us</a>
        <a href="/register">Create Account</a>
        <% if (loggedIn) { %>
            <a href="/logout" id="logout">Logout</a>
        <% } %> 
    </nav>
    <div class="content">
        <div class="topic">
            <div class="form-container">
                <h1>Login</h1>
                <form name="loginForm" id="login-form" action="/login" method="POST" onsubmit="return validateLogin()">
                    Username: <input type="text" name="username" required><br>
                    Password: <input type="password" name="password" required><br>
                    <input type="Submit" value="Submit">
                </form>
                <% if (!success) { %>
                    <h3>Invalid username or password</h3>
                <% } %>
            </div>
        </div>
    </div>
    <footer><a href="/privacy">Privacy/Disclaimer Statement</a></footer>
    <script src="/js/script.js"></script>
</body>

</html>